@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #ffbb01);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .titulo{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .titulo::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #ffbb01);
}
.container form .detalhes-usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .detalhes-usuario .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 2px);
}
form .detalhes-usuario .input-box detalhes{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .detalhes-usuario .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .detalhes-usuario .input-box input:focus, 
form .detalhes-usuario .input-box input:valid{
    border-color: #ffbb01;
}
form .genero-detalhes .genero-titulo{
    font-size: 20px;
    font-weight: 500;
}
form .genero-detalhes .categoria{
    display: flex;
    margin: 14px 0;
    justify-content: space-between;
}
.genero-detalhes .categoria label{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.genero-detalhes .categoria .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 5px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .categoria label .um,
#dot-2:checked ~ .categoria label .dois,
#dot-3:checked ~ .categoria label .tres{
    border-color: #d9d9d9;
    background-color: #ffbb01;
}
form input[type="radio"]{
    display: none;
}
form .botao{
    height: 45px;
    margin: 45px 0;
}
form .botao input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 500;
    background: linear-gradient(135deg, #71b7e6, #ffbb01);
}
form .botao input:hover{
    background: linear-gradient(-135deg, #71b7e6, #ffbb01);
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .detalhes-usuario .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .genero-detalhes .categoria{
        width: 100%;
    }
    .container form .detalhes-usuario{
        max-height: 300px;
        overflow-y: scroll;
    }
    .detalhes-usuario::-webkit-scrollbar{
        width: 0;
    }
}